/* styles.css */
body {
    font-family: Arial, sans-serif;
    width: 100% ;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

header, footer {
    background: rgba(255, 255, 255, 0.4);
    color: #000000;
    text-align: center;
    padding: 1rem;
    font-weight: 300;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.player {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}

.track-info {
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.track-info img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 2rem;
    margin-left: 2rem;
    transition: transform 0.1s linear;
}


.controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    
}

button {
    border: 3px solid #fde46d;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: transparent;
    font-weight: 600;
    color: #005cc8;
    
  }
  
button:hover {
    color: #005cc8;
    background-color: #fde46d;
    font-size: 1.2rem;
  }


.controls input[type="range"] {
    width: 100px;
}

.progress-bar {
    margin-top: 1rem;
    
}

.progress-bar input[type="range"] {
    width: 100%;
}

@media (max-width: 600px) {
    .track-info img {
        width: 70px;
        height: 70px;
    }

    .controls button {
        padding: 0.3rem 0.7rem;
    }

    .controls input[type="range"] {
        width: 70px;
    }
}
